<% # PARAMS admin
%>

<% content_for :title_header, 'Admins' %>

<div class="row">
  <div class="col-md-12">
    <%= render_tws_breadcrumbs %>
  </div>
</div>

<div id="toolbar" class="row">
  <div class="col-md-6">
    <%= link_to 'Back', admin_admins_path, :class => 'btn btn-default prev-arrow' %>
  </div>
</div>

<%= render 'form', admin: @admin, url: admin_admins_path %>
