<% content_for :title_header, 'Users' %>

<div class="row">
  <div class="col-md-12">
    <%= render_tws_breadcrumbs %>
  </div>
</div>

<div id="toolbar" class="row">
  <div class="col-md-6">
    <%= link_to 'Back', admin_user_path(@user), :class => 'btn btn-default prev-arrow' %>
  </div>
</div>

<%= render 'form', user: @user, url: admin_user_path(@user) %>