$twbs-brand-default: #444;
$twbs-brand-primary: #428BCA;
$twbs-brand-success: #5CB85C;
$twbs-brand-info: #5BC0DE;
$twbs-brand-warning: #EEA236;
$twbs-brand-danger: #D9534F;

$tws-gray-dark: #333;

$color-blue: #00B3FE;
$color-blue-dark: #384452;
$color-gray-dark: #5E5E5E;