<% content_for :title_header, 'Dashboard' %>

<div class="row">
  <div class="col-md-12">
    <%= render_tws_breadcrumbs %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Total of admin users: <%= Admin.count %></p>
  </div>
</div>


